<div class="bg-white">
  <div class="pt-32 sm:pt-14">
    <div class="mx-auto max-w-7xl px-6 py-8 sm:py-16 lg:flex lg:items-center lg:gap-x-10 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
        <h1 class="max-w-lg text-4xl font-merriweather text-gray-900 sm:text-6xl">Tell your loved one's <span class="text-lilac">life story</span>.</h1>
        <p class="mt-6 text-lg leading-8 md:mr-32 text-gray-600">
          anecdot preserves the story of your loved one's life in a QR code, attachable to a headstone, bench or other memorial, scannable by any smartphone.
        </p>
        <div class="mt-10 flex items-center gap-x-6">
          <a href="/start_memento" class="rounded-md bg-lilac px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-lilac-dark focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lilac">
            Preserve a life story
          </a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
        </div>
      </div>
      <div class="mt-16 sm:mt-24 w-1/2 lg:mt-0 lg:flex-shrink-0 lg:flex-grow">
        <%= image_tag "anecdot_grave_corner.webp",
            alt: 'Scrolling through anecdotes on phone',
            style: 'border-radius: 4%;' %>
      </div>
    </div>
  </div>
</div>
