<div class="bg-white">
  <div class="mx-auto max-w-7xl py-24 sm:px-2 sm:py-32 lg:px-4">
    <div class="mx-auto max-w-2xl px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h1 class="mt-10 text-5xl sm:text-6xl font-merriweather text-gray-900">Let's build your loved one's story<span class="text-lilac">.</span></h1>
        <p class="mt-4 text-gray-500">
          In the upcoming process, we will collect information about your loved one through a series of questions.
          Most questions will be optional; please only fill out those you believe are most pertinent to capturing
          your loved one's lifestory. Any mandatory questions will be clearly marked.
        </p>
        <p class="mt-4 text-gray-500">
          Those familiar with Freytag's Pyramid will recognize the structure of the following sections.
          This framework, illustrated below, will enable us to compile your answers into a coherent
          story. You can of course edit and add to this story later.
        </p>
      </div>

      <a href="/mementos/new" class="float-right mr-10 rounded-md bg-magenta px-6 py-5 text-xl font-semibold text-white shadow-sm hover:bg-indigo-100">
        Start >
      </a>

      <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-5">
            <div>
              <time datetime="2021-08" class="flex items-center text-sm font-semibold leading-6 text-lilac-deep">
                <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
                  <circle cx="2" cy="2" r="2" fill="currentColor" />
                </svg>
                Exposition
                <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
              </time>
              <p class="mt-6 font-semibold leading-8 tracking-tight text-gray-900">Origins</p>
              <p class="mt-1 text-base leading-7 text-gray-600">
                Delves into key details such as birthplace, family dynamics, cultural influences, and early interests or aspirations.
              </p>
            </div>
            <div>
              <time datetime="2021-12" class="flex items-center text-sm font-semibold leading-6 text-lilac-deep">
                <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
                  <circle cx="2" cy="2" r="2" fill="currentColor" />
                </svg>
                Rising action
                <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
              </time>
              <p class="mt-6 font-semibold leading-8 tracking-tight text-gray-900">Character definition</p>
              <p class="mt-1 text-base leading-7 text-gray-600">
                Explores the individual's growth, challenges, and pivotal moments that shaped their character and propel the narrative forward.
              </p>
            </div>
            <div>
              <time datetime="2022-02" class="flex items-center text-sm font-semibold leading-6 text-lilac-deep">
                <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
                  <circle cx="2" cy="2" r="2" fill="currentColor" />
                </svg>
                Climax
                <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
              </time>
              <p class="mt-6 font-semibold leading-8 tracking-tight text-gray-900">Critical moments</p>
              <p class="mt-1 text-base leading-7 text-gray-600">
                Encapsulates the most intense and transformative moments of the individul's life.
              </p>
            </div>
            <div>
              <time datetime="2022-12" class="flex items-center text-sm font-semibold leading-6 text-lilac-deep">
                <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
                  <circle cx="2" cy="2" r="2" fill="currentColor" />
                </svg>
                Falling action
                <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
              </time>
              <p class="mt-6 font-semibold leading-8 tracking-tight text-gray-900">Reflection</p>
              <p class="mt-1 text-base leading-7 text-gray-600">
                The gradual winding down of the narrative as the individual's life approaches its conclusion.
              </p>
            </div>
            <div>
              <time datetime="2022-02" class="flex items-center text-sm font-semibold leading-6 text-lilac-deep">
                <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
                  <circle cx="2" cy="2" r="2" fill="currentColor" />
                </svg>
                Resolution
                <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:-mr-6 lg:ml-8 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
              </time>
              <p class="mt-6 font-semibold leading-8 tracking-tight text-gray-900">The end</p>
              <p class="mt-1 text-base leading-7 text-gray-600">
                Concludes the narrative by reflecting on the ultimate fate or legacy of the individual, providing a sense of finality to their life story.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
