<div id="<%= dom_id memento %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Story:</strong>
    <%= memento.story %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this memento", memento, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this memento", edit_memento_path(memento), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
